<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.actions"
 name="Editor Profiling Attributes Action Contributor"
 description="Puts the Editor Profiling Attributes Action back in the menu"
 version="${project.version}"
 vendor="oXygen XML"
 class="com.oxygenxml.actions.WorkspaceAccessPlugin"
 classLoaderType="preferReferencedResources">
 
 <runtime>
	<librariesFolder name="lib" />
    <library name="target/classes" />
	<librariesFolder name="target/lib" />
 </runtime>
  
  <!-- ID of the action to bring back in the contextual menu. -->
  <property name="actions.actionID" value="Author/Edit_Profiling_Attributes"/>
 <!-- ID of another action present in the contextual menu that should serve as an anchor. -->
  <property name="actions.anchorActionID" value="Edit/Edit_attributes"/>
 <!-- A keystroke for the returned action
  
   * The "M" modifier keys are a platform-independent way of representing keys, 
   * and these are generally preferred. 
   * - M1 is the COMMAND key on MacOS X, and the CTRL key on most other platforms. 
   * - M2 is the SHIFT key. 
   * - M3 is the Option key on MacOS X, and the ALT key on most other platforms. 
   * - M4 is the CTRL key on MacOS X, and is undefined on other platforms. 
   * 
  
  . -->
 <property name="actions.defaultKeyStroke" value="M1 M3 X"/>
 
 <extension type="WorkspaceAccess" 
  class="com.oxygenxml.actions.ActionContributorPluginExtension"/>
  
</plugin>
